* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

header {
  background: rgb(255, 255, 255);
  background-image: url(./assets/img/verde\ fundo.jpg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(255, 254, 254);
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(0, 77, 26);
}

a:visited {
  text-decoration: none;
  color: rgb(250, 250, 250);
}

#Banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    background-image: url("./assets/img/foto_capa.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  h1 {
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    color: #fff;
    text-align: center;
  }
}

article ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content:space-between;  
  li{
    list-style: none;
  }
}

#Pratos{
  background: rgb(255, 255, 255);
  h3{
    font-family:"Poppins", sans-serif;
    font-size: 30px;
    color: #518626;
    text-align: center;
    justify-content: space-evenly;
  }
}

.CardPrato{
  display:grid;
  justify-content: center;
  font-family:"Poppins", sans-serif;
    font-size: 20px;
  background-color: #518626;
  border: #00000000 solid 2px;
  border-radius: 5px;
  padding: 5px;
  margin: 30px;
}
.footer{
  background-color: rgb(255, 255, 255);
  background-image: url(./assets/img/verde\ fundo.jpg);
}
.footerContainer{
  width:100%;
  padding: 70px 30px 20px;
}
.Icones{
  display: flex;
  justify-content:center;
}
.Icones a{
  text-decoration: none;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  border: 2px;
  border-radius: 50%;
}
.Icones a i{
  font-size: 2em;
  color: rgb(0, 0, 0);
  opacity: 0.9;
}
.footernav{
  margin: 30px 0;
}
.footernav ul{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;

}
.footernav ul li a{
  color: black;
  margin: 20px;
  text-decoration: solid;
  font-size: 2.3em;
  opacity: 0.7;
  transition: 1.0;
  text-align: start;
}
.footerPartebaixa{
  background-color: black;
  padding: 20px;
  text-align: center;
}
.footerPartebaixa p{
color: #fff;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
